<%= div_for(@lesson, class: "lesson") do %>
  <div class="lft"> <%= link_to "<", "#", class: 'operate-btn lb-nav lb-prev op-prev' %> </div>
  <div class="rgt"><%= link_to ">", "#", class: 'operate-btn lb-nav lb-next op-next'  %> </div>
  <div class="words">
    <% @lesson.classifications.each{ |lesson_word| word = lesson_word.word  %>
      <%= div_for(word, class: "word #{ lesson_word.first? ? 'active' : 'inactive'}", data: { lesson_id: lesson_word.lesson_id, word_id: lesson_word.word_id}) do %>
       <p class="s0"> <span class="position"><%= lesson_word.position %></span> </p>
       <p class="center s1"><span class="spelling"> <%= word.spelling %> </span>
         <span class="meanings"> <%= word.meanings %> </span>
       </p>
       <p class="center s2">
         <span>英</span> <span class="pronunciation pronunciation_uk">
           <span class="phonetic phonetic_uk"> [<%= word.phonetic_uk %>]  </span>
           <%= link_to_if word.pronunciation_uk.present?, " ", "javascript:void(0)", class: "operate-btn op-sound", id: word.pronunciation_uk.url, data: { url: word.pronunciation_uk.url }, onclick: onMouseOver="asplay_top(this.id);" %>
           <%= link_to_if word.pronunciation_uk_man.present?, "play", "javascript:void(0)", class: "operate-btn op-sound op-sound-man", id: word.pronunciation_uk_man.url, data: { url: word.pronunciation_uk_man.url }, onclick: onMouseOver="asplay_top(this.id);" %>
         </span>
         <span>美</span> <span class="pronunciation pronunciation_en">
           <span class="phonetic phonetic_en"> [<%= word.phonetic_en %>]  </span>
           <%= link_to_if word.pronunciation_en.present?, " ", "javascript:void(0)", class: "operate-btn op-sound", id: word.pronunciation_en.url, data: { url: word.pronunciation_en.url }, onclick: onMouseOver="asplay_top(this.id);" %>
           <%= link_to_if word.pronunciation_en_man.present?, "play", "javascript:void(0)", class: "operate-btn op-sound op-sound-man", id: word.pronunciation_en_man.url, data: { url: word.pronunciation_en_man.url }, onclick: onMouseOver="asplay_top(this.id);" %>
         </span>
       </p>
       <p class="center s3"> <%= word.description %></p>

       <div class="center s4">
           <%= link_to_if word.card.present?, "记忆技巧", "javascript:void(0)", class: "operate-btn op-card" %>
           <p class="card">  <%= image_tag word.card %>   </p>
       </div>

      <% end %>
    <% } %>
  </div>
<% end %>
