<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>十万火词</title>
  <%= render 'shared/head' %>
</head>
<body>
  <div class="">
    <%= render 'shared/header' %>
    <div class="content clearfix">
      <div class="">
        <%= flash_alert(flash) %>
      </div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
